body {
  	font-family: 'Merienda One', cursive;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lobster', cursive;
}

.App {
  text-align: center;
/* font-family: 'Lobster', cursive; */
/* font-family: 'Permanent Marker', cursive; */
/* font-family: 'Pacifico', cursive; */
/* font-family: 'Limelight', cursive; */
/* font-family: 'Fugaz One', cursive; */
/* font-family: 'Black Ops One', cursive; */
/* font-family: 'Aclonica', sans-serif; */
/* font-family: 'Allerta Stencil', sans-serif; */
/* font-family: 'Merienda One', cursive; */
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* ============================================
				Nav Bar
=============================================== */

.App-header {
	background-image: url("../img/surf-bg.jpeg");
	background-position: center;
	background-size: cover;
	min-height: 150px;
	padding: 20px;
	color: white;
}

.app-title {
	font-size: 50px;
}

#locations-dd {
	cursor: pointer;
	position: relative;
}

#locations-dd:hover {
    color: rgb(255, 254, 206);
}

.app-nav {
    display: flex;
	flex-direction: row;
	margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

.app-nav__sublist {
    display: none;  
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    text-align: left;

	position: absolute;
	left: -20px;
	top: 43px;
    z-index: 1;
	background: #317eaf;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.52);
}

.app-nav__locations {
    display: block;
    min-width: 102px;
    padding: 5px 20px;
    text-decoration: none;
}

.app-nav__item-container {
    display: flex;
    flex-direction: row;
}

.app-nav__item {
    margin: 0 25px;
}

.app-nav__item a {
    color: white;
    text-decoration: none;
}

.app-nav__item a:hover {
    color: rgb(255, 254, 206);
}

.App-intro {
	font-size: large;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
.visible {
	display: flex;
}

/* ============================================
			Home Page Conditions
=============================================== */

.all-conds__title {
    font-size: 32px;
    font-weight: 100;
	color: #317eaf;
	
	margin: 1rem 0 0;
}

.all-conds__list {
    list-style-type: none;
    padding: 0;
}

.all-conds__item {
    background: rgb(241, 242, 243);
    margin: 0 4rem 1rem;
    border-radius: 3px;
    padding: 1rem 0;
}

.all-conds__link {
    color: #434343;
    text-decoration: none;
}

.all-conds__link:hover {
    color: #000000;
}

.cond__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cond__item {
    margin: 1rem 2rem 0;
}

.cond__h2 {
    margin: 0;
    font-size: 26px;
}

.cond__h3 {
    border-bottom: 1px solid rgb(185, 185, 185);
    padding-bottom: 1rem;
    margin: 1rem 4rem 0;
    color: rgb(185, 185, 185);
}

.cond__h4 {
	margin: 0;
	
	color: #25648c;
}

.cond__p {
    margin: 0;
}

/* ============================================
				Location Page 
=============================================== */

.location__container {
    margin: 3rem 0;
}

.location-conds {
    /* background: rgba(50, 126, 175, 0.54); */
    margin: 1rem 4rem 0;
    border-radius: 3px;
    padding: 0 0 1rem;
}

.forecast__list {
    list-style-type: none;
    padding: 0;
}

.forecast__item__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0 2rem;
    margin: 0 8rem 2rem;
}

button.forecast_button {
	cursor: pointer;
    padding: 0.5rem 1.5rem;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    background: #26648b;
    color: white;
    font-family: 'Merienda One', cursive;
}

/* ============================================
				Login Page 
=============================================== */

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
}

.form-input {
    border: none;
    border-bottom: 2px solid #004970;
    margin-bottom: 10px;
    line-height: 2;
    padding-left: 15px;
    font-size: 18px;
    background: white;
}

.form-btn {
    padding: 10px 0 !important;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Merienda One', cursive;
    letter-spacing: 2px;
    border: none;
	background: #84a8c4;
	
	cursor: pointer;
}

.form-btn:hover {
	background: #5d92bb;
}